@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

img {
  max-width: 100%;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0;
  display: grid;
  align-items: center;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .navigation {
  position: relative;
}
header .navigation .container-fluid {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}
header .navigation .container-fluid .logo {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #DC4F72;
  letter-spacing: -1px;
}
header .navigation .container-fluid .navbar-toggler {
  background: #dc4f72;
}
header .navigation .container-fluid .navbar-toggler i {
  color: #fff;
}
header .navigation .container-fluid .menu .list .home .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}
header .navigation .container-fluid .menu .list .about .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}
header .navigation .container-fluid .menu .list .service .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}
header .navigation .container-fluid .menu .list .page .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}
header .navigation .container-fluid .menu .list .page .nav-link a i {
  font-size: 14px !important;
  padding-left: 2px !important;
}
header .navigation .container-fluid .menu .list .contact .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}
header .navigation .container-fluid .menu .list .schedule:hover {
  background: transparent;
}
header .navigation .container-fluid .menu .list .schedule a.button-schedule {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #DC4F72;
  background: #fff;
  border: 1px solid #DC4F72;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.3s ease-out;
}
header .navigation .container-fluid .menu .list .schedule a.button-schedule:hover {
  color: #fff;
  background: #DC4F72;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

img {
  max-width: 100%;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

footer {
  margin-top: 200px;
  background: #f7f9fc;
  padding: 50px 0;
  width: 100%;
}
footer .container-fluid {
  max-width: 1200px;
}
footer .container-fluid .wrapper .main-row {
  padding: 30px 0;
  gap: 30px;
}
footer .container-fluid .wrapper .main-row .column .footer-heading h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2C3038;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 30px;
}
footer .container-fluid .wrapper .main-row .column .footer-body ul {
  list-style: none;
  padding: 0;
  line-height: 35px;
}
footer .container-fluid .wrapper .main-row .column .footer-body ul li {
  font-size: 15px;
  font-weight: 400;
  color: #656f7b;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 0;
}
footer .container-fluid .wrapper .main-row .form-handle .footer-body {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column h4 {
  font-size: 18px;
  font-weight: 500;
  color: #2C3038;
  letter-spacing: 0;
  line-height: 25px;
  padding: 20px 0;
}
footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column form input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 70%;
  color: #2C3038;
  font-weight: 600;
  border-radius: 5px;
}
footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column form button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #DC4F72;
  border: 1px solid #DC4F72;
  border-radius: 5px;
  padding: 10px 30px;
}
footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #5a5a5a;
  letter-spacing: 0;
  line-height: 25px;
}
footer .container-fluid .wrapper .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-fluid .wrapper .copyright .columns p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}
footer .container-fluid .wrapper .copyright .columns p a {
  text-decoration: none;
  color: #5a5a5a;
  font-size: 16px;
  transition: all 0.3s;
}
footer .container-fluid .wrapper .copyright .columns p a:hover {
  color: #DC4F72;
}
footer .container-fluid .wrapper .copyright .columns-2 .social {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
footer .container-fluid .wrapper .copyright .columns-2 .social li {
  margin: 0 10px;
}
footer .container-fluid .wrapper .copyright .columns-2 .social li a {
  color: #2C3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
footer .container-fluid .wrapper .copyright .columns-2 .social li a i {
  font-size: 15px;
}

* {
  scroll-behavior: smooth;
}

.breadcrumbs {
  padding: 15px 20px;
  margin-top: 90px;
}
.breadcrumbs .container-fluid {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}
.breadcrumbs .container-fluid a {
  font-size: 14px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
  text-decoration: none;
}
.breadcrumbs .container-fluid .breadcrumb_last {
  font-size: 14px;
  font-weight: 400;
  color: #2C3038;
  letter-spacing: 0;
}

.blog-single-main .blog-single-1 {
  padding-top: 50px;
}
@media screen and (min-width: 300px) {
  .blog-single-main .blog-single-1 .container-fluid {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 576px) {
  .blog-single-main .blog-single-1 .container-fluid {
    max-width: 100%;
    padding: 0 25px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-1 .container-fluid {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .blog-single-main .blog-single-1 .container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 16px 25px;
  }
}
.blog-single-main .blog-single-1 .container-fluid .head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-single-main .blog-single-1 .container-fluid .head .content {
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .tagname {
  background: rgba(0, 128, 0, 0.2);
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #008000;
  letter-spacing: 0;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .title {
  line-height: 50px;
  font-size: 45px;
  font-weight: 700;
  color: #2C3038;
  letter-spacing: 0;
  margin: 15px 0;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .blog-list {
  height: 25px;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-top: 0;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .blog-list li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .blog-list li p {
  font-size: 15px;
  font-weight: 600;
  color: #2C3038;
  letter-spacing: 0;
}
.blog-single-main .blog-single-1 .container-fluid .head .content .blog-list li p span {
  font-size: 15px;
  font-weight: 600;
  color: #2C3038;
  letter-spacing: 0;
}
.blog-single-main .blog-single-1 .container-fluid .body {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.blog-single-main .blog-single-1 .container-fluid .body img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.blog-single-main .blog-single-1 .container-fluid .body img:hover {
  transform: translateY(-5px);
}
.blog-single-main .blog-single-1 .container-fluid .foot {
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph {
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
  line-height: 24.5px;
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img {
  margin-bottom: 15px;
  padding-bottom: 10px;
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .left {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .left {
    margin-top: 20px;
  }
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .left img {
  max-width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-style: none;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .left img:hover {
  transform: translateY(-5px);
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .right {
  padding-top: 0;
  padding-bottom: 0;
}
.blog-single-main .blog-single-1 .container-fluid .foot .content .paragraph-img .right .paragraph {
  font-size: 16px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 24.5px;
}
.blog-single-main .blog-single-2 {
  padding-bottom: 30px;
}
@media screen and (min-width: 300px) {
  .blog-single-main .blog-single-2 .container-fluid {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 576px) {
  .blog-single-main .blog-single-2 .container-fluid {
    max-width: 100%;
    padding: 0 25px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-2 .container-fluid {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .blog-single-main .blog-single-2 .container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 16px 25px;
  }
}
.blog-single-main .blog-single-2 .container-fluid .wrapper .blockquote {
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-left: 3px solid #5A5A5A;
  background: #f7f9fc;
  padding: 25px 25px 25px 45px;
}
.blog-single-main .blog-single-2 .container-fluid .wrapper .blockquote .quotes {
  font-size: 24px;
  font-weight: 500;
  color: #2C3038;
  letter-spacing: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.blog-single-main .blog-single-2 .container-fluid .wrapper .blockquote .blockquote-footer {
  font-size: 16px;
  font-weight: 300;
  color: #5A5A5A;
  letter-spacing: 0;
  margin-top: 20px;
  padding: 0;
}
.blog-single-main .blog-single-2 .container-fluid .wrapper .blockquote .blockquote-footer::before {
  content: "— ";
}
@media screen and (min-width: 300px) {
  .blog-single-main .blog-single-3 .container-fluid {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 576px) {
  .blog-single-main .blog-single-3 .container-fluid {
    max-width: 100%;
    padding: 0 25px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-3 .container-fluid {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .blog-single-main .blog-single-3 .container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 16px 25px;
  }
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content {
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .head {
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  color: #2C3038;
  letter-spacing: 0;
  line-height: 40px;
  margin: 20px 0;
  display: inline-block;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .sub-head {
  font-size: 20px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 40px;
  font-style: italic;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para {
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 24.5px;
  margin-top: 20px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img {
  margin-bottom: 15px;
  padding-bottom: 10px;
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .left {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .left {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .left img {
  max-width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-style: none;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .left img:hover {
  transform: translateY(-5px);
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .except img {
  height: 95%;
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .except {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .right {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .para-img .right .para {
  font-size: 16px;
  font-weight: 500;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 24.5px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev {
  margin-top: 15px;
  padding-top: 10px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .nav-title {
  font-size: 16px;
  font-weight: 400;
  color: #5A5A5A;
  letter-spacing: 0;
  display: block;
  margin-bottom: 9px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .nav-title span {
  font-size: 12px;
  color: #5A5A5A;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .posts-view {
  margin-bottom: 15px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 23% 72%;
  grid-gap: 4%;
  align-items: center;
  touch-action: manipulation;
  text-decoration: none;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .posts-view img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  border-radius: 5px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .posts-view label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  color: #2C3038;
  letter-spacing: 0;
  transition: 0.3s;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-prev .posts-view label:hover {
  font-size: 18px;
  font-weight: 800;
  color: #5A5A5A;
  letter-spacing: 0;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next {
  margin-top: 15px;
  padding-top: 10px;
  text-align: right;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .nav-title {
  font-size: 16px;
  font-weight: 400;
  color: #5A5A5A;
  letter-spacing: 0;
  display: block;
  margin-bottom: 9px;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .nav-title span {
  font-size: 12px;
  color: #5A5A5A;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .posts-view {
  margin-bottom: 15px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 72% 23%;
  grid-gap: 4%;
  align-items: center;
  text-decoration: none;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .posts-view label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  color: #2C3038;
  letter-spacing: 0;
  transition: 0.3s;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .posts-view label:hover {
  font-size: 18px;
  font-weight: 800;
  color: #5A5A5A;
  letter-spacing: 0;
}
.blog-single-main .blog-single-3 .container-fluid .wrapper .main-content .post-navigation .post-next .posts-view img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  border-radius: 5px;
}
.blog-single-main .blog-single-4 {
  display: block;
  padding-top: 30px;
}
@media screen and (min-width: 300px) {
  .blog-single-main .blog-single-4 .container-fluid {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 576px) {
  .blog-single-main .blog-single-4 .container-fluid {
    max-width: 100%;
    padding: 0 25px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .blog-single-main .blog-single-4 .container-fluid {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .blog-single-main .blog-single-4 .container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 16px 25px;
  }
}
.blog-single-main .blog-single-4 .container-fluid .wrapper .main-content {
  max-width: 750px;
  margin: 0 auto;
}
.blog-single-main .blog-single-4 .container-fluid .wrapper .main-content .title {
  font-size: 35px;
  font-weight: 600;
  color: #2C3038;
  letter-spacing: 0;
}